/* FONTS */
@font-face {
  font-family: "Firs neue";
  src: url("../fonts/TTFirsNeue-Bold.otf");
}
@font-face {
  font-family: "Firs neue Regular";
  src: url("../fonts/TTFirsNeue-Regular.otf");
}
@font-face {
  font-family: "Firs neue DemiBold";
  src: url("../fonts/TTFirsNeue-DemiBold.otf");
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-SemiBold.otf");
}
@font-face {
  font-family: "Mont Heavy";
  src: url("../fonts/Mont-Heavy.otf");
}
@font-face {
  font-family: "Mont Regular";
  src: url("../fonts/Mont-Regular.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("../fonts/EBGaramond-MediumItalic.ttf");
}

/* ----------------------------------------------- */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 10px;
  font-family: "Mont Regular";
}

.contenedor {
  width: auto;
  margin-bottom: 70px;
}

header {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 6px rgb(0 0 0 / 20%);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  /* position: absolute; */
  height: 17vh;
  margin: 4vh;
}

.promos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 100px;
  position: relative;
}

.pormos-contenedor {
  width: 100%;
}

.promos .promos-title {
  width: 100%;
  text-align: left;
  padding: 10px;
}
.promos .promos-title p {
  font-size: 2.5em;
  margin-top: 30px;
  font-family: "Firs neue Regular";
}

.promos .promos-title p span {
  color: #ee7686;
  font-family: "Firs neue DemiBold";
}

.promos .promos-title img {
  margin: 5px;
  width: 100%;
}

.title-barra {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* PROMO BRILLA */
.promos .promo-brilla {
  background-color: #e9d3d3;
  width: 75%;
  min-width: 320px;
  /* max-width: 400px; */
  /* padding: 10px; */
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  /* overflow: hidden; */
}

.promo-img {
  width: 20rem;
  /* height: 40%; */
}

.pormos-list {
  display: none;
}

/* PROMO BONITA */
.promos .promo-bonita {
  background-color: #f9cbc9;
  width: 75%;
  min-width: 320px;
  /* max-width: 400px; */
  /* padding: 10px; */
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

/* PROMO BB */
.promos .promo-bb {
  background-color: #e9d3d3;
  width: 75%;
  min-width: 320px;
  /* max-width: 400px; */
  /* padding: 10px; */
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

/* tratamientos */
.tratamientos {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  border-radius: 100px;
  margin: 1rem 0 1rem 0;
  box-shadow: 3px 3px 6px rgb(0 0 0 / 20%);
  transition: all 1s ease;
}

.tratamientos-activo {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: 7px;
  border-radius: 20px;
  box-shadow: 3px 3px 6px rgb(0 0 0 / 20%);
  /* transition: all 1s ease; */
}

.tratamiento-title {
  width: 100%;
  padding: 10px;
  display: block;
}

.tratamiento-title-activo {
  width: 100%;
  padding: 10px;
  display: block;
}

.tratamiento-title i {
  font-size: 0.9em;
  color: #7b6969;
}
.tratamiento-title-activo i {
  font-size: 0.9em;
  color: #7b6969;
}

.tratamiento-title .rt-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 10px;
  font-family: "Firs neue Regular";
  font-size: 1.5em;
  color: #7b6969;
}
.tratamiento-title-activo .rt-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 10px;
  font-family: "Firs neue Regular";
  font-size: 1.5em;
  color: #7b6969;
}

.tratamiento-title .fa-minus {
  display: none;
}

.tratamiento-title .rt-content span {
  font-family: "Firs neue DemiBold";
}
.tratamiento-title-activo .rt-content span {
  font-family: "Firs neue DemiBold";
}

.tratamientos.activo {
  border-radius: 20px;
  transition: all 0.5s ease;
}
/* REPARACION */

.reparacion {
  height: 0;
  overflow: hidden;
  transition: height 1s ease;
}

/* Si esta activo muestra info */
.tratamientos.activo .reparacion {
  height: auto;
  width: 100%;
}

.tratamientos-activo .reparacion {
  height: auto;
  width: 100%;
}

.cuerpo-rep {
  width: 90%;
  padding: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  /* text-align: center; */
}

.cuerpo-rep .rep-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5vh;
  margin: 15px 0;
}

.cuerpo-rep .rep-title p {
  font-family: "Firs neue";
  font-size: 1.5em;
  color: #7b6969;
}

.rep-title > img {
  height: 25px;
}

.menu-desplegable {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

body > div > div.menu-desplegable > div.tratamientos.activo > div > div > p {
  font-family: "Mont Regular";
  font-size: 1.4em;
  color: #7b6969;
  margin: 10px 0;
}

.rosado {
  color: #f9cbc9 !important;
}

.loreal {
  font-family: "Firs neue Regular";
}

.loreal b {
  font-family: "Firs neue DemiBold";
}

.loreal-title {
  color: #ee7686 !important;
}

.tratamientos.activo .loreal {
  height: auto;
}

.bg-grey {
  background-color: #f5f6f7 !important;
}

.bg-beige {
  background-color: #f8f3ef !important;
}

.bg-rosado {
  background-color: #f9cbc9;
}

.bg-rosado-fuerte {
  background-color: #f191a1;
}

.bg-crema {
  background-color: #faf4ef;
}

.mimo {
  color: #db7583 !important;
}

.fndb {
  font-family: "Firs neue DemiBold";
}

.title-color {
  color: #77454e;
}

.title-color b {
  color: #9c7277;
}

.lacio {
  font-size: 1.3em !important;
  font-family: "Garamond" !important;
}

.lacio-org-title {
  font-family: "Garamond" !important;
  font-size: 1.5em !important;
}

.organico-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.2vh;
  margin-top: 10px;
}

.organico-title p {
  font-family: "Firs neue";
  font-size: 1.5em;
  color: #7b6969;
  gap: 1vh;
}

.organico-texto {
  font-size: 1.4em;
  color: #7b6969;
}

.organico-title img {
  height: 25px;
  margin: 2em 0 2em 0;
}

body
  > div
  > div.menu-desplegable
  > div.tratamientos.bg-loreal.activo
  > div:nth-child(4)
  > div
  > div.organico
  > p {
  font-family: "Mont Regular";
  font-size: 2em;
  color: #7b6969;
  margin: 30px 0;
}
.hr-contairner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hr {
  height: 2px;
  width: 90%;
  background-color: #7b6969;
  margin: 2em 0 2em 0;
}

.t-rosado {
  color: #ee7686 !important;
}

.garamond {
  font-family: "Garamond";
  font-size: 1.3rem;
}

.pormos-carousel {
  width: 100%;
  margin-top: 50px;
}

.promo-list {
  display: none;
}

.promo-list div .promo-brilla img,
.promo-list div .promo-bonita img,
.promo-list div .promo-bb img {
  width: 10rem;
}

.promos-title-servicio {
  width: 90%;
  margin: 20px;
  text-align: left;
}

.promos-title .p-servicio {
  font-size: 1.4em !important;
  font-family: "Mont Regular";
  padding: 10px;
}

.promos-manos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  position: relative;
}

.promo-servicio {
  width: 90%;

  padding: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.promo-servicio img {
  width: 100%;
}

.s-title {
  margin-top: 2em;
}

.s-title p {
  font-size: 2em;
  padding: 10px;
  padding-left: 1em;
}

.servicio-content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.6em;
  padding-left: 1em;
}

.servicio-content div {
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
  margin: 5px 0;
  /* width: fit-content;
  text-align: center; */
}

.servicio-color-1 {
  background-color: #f3d8d6;
  color: #e38088;
}
.servicio-color-2 {
  background-color: #e5d4be;
  color: #a08d7b;
}

/* LO HACEMOS REALIDAD */

.bottom-bar {
  width: 100%;
  position: relative;
  margin-bottom: 2em;
  background-color: #f7f0eb;
  border-radius: 0% 10% 0 0 / 100% 10% 0 0;
}
.bottom-bar-img {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 20vh;
  border-radius: 0% 10% 50% 50% / 100% 10% 20% 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-bar-img .fondo {
  width: 100%;
}

.bottom-bar-img .img {
  width: 80px;
  position: absolute;
  /* z-index: 4; */
}

.bg-rosado-t {
  width: 100%;
  height: 100%;
  background-color: #5c2e3462;
  /* background-color: #db75833a; */
  position: absolute;
  /* z-index: 3; */
}

.bottom-bar-content {
  margin: 10px;
  margin-bottom: 30px;
  padding: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.bottom-bar-content p {
  font-size: 1.3em;
}

.bottom-bar-content > .bottom-bar-title p {
  font-size: 2em !important;
}

.bottom-bar-content > .bottom-bar-title span {
  font-size: 2.4em !important;
  margin: 10px;
}

.bottom-bar-content > .consulta {
  margin-top: 10px;
  background-color: #e38088;
  color: #fff;
  font-family: "Mont Regular";
  font-size: 1.2em;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}

.diagnostico {
  position: relative;
  top: -30px;
  width: 100%;
  height: 20vh;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.red {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  grid-column: 1 / 3;
  background-color: #884550;
  color: white;
  font-size: 1.4em;
}
.blue {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  border-radius: 0% 0% 50% 50% / 0% 0% 40% 40%;
  overflow: hidden;
}

.blue img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.green {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.6em;
}

.green a {
  outline: none;
  text-decoration: none;
  width: 200px;
  border-radius: 2rem;
  border: solid 1px #db7583;
}

.blanco {
  position: relative;
  background-color: #fff;
}

/* FOOTER */
footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #f7f0eb;
}

.logo-footer {
  /* height: 30px; */
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-footer img {
  width: 100px;
  height: 100px;
  position: relative;
  top: -30px;
}

.social-network {
  padding: 10px;
  font-size: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.social-network a {
  color: black;
  text-decoration: none;
}

.significados {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.significado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  align-content: center;
  margin: 10px 0 10px 0;
  width: 90%;
}

.significados > div > .rt-content > .title-color {
  font-size: 1.5rem;
  font-family: "Firs neue DemiBold";
}

.significado img {
  height: 50px;
}

.significado p {
  font-family: "Firs neue DemiBold";
  font-size: 1rem;
  color: #db7583;
}

.significado p span {
  color: #77454e;
}

/* RESPONSIVE */

@media only screen and (min-width: 1200px) {
  /* HEADER */
  .logo {
    height: 30rem;
  }
  .logo img {
    height: 25vh;
  }

  .hr-contairner {
    display: none;
  }

  /* PROMOS */

  .promos div p b {
    display: none;
  }

  .promos .promos-title {
    text-align: center;
    padding: 2rem;
  }
  .promos .promos-title p {
    font-size: 2.5rem;
    margin-top: 20px;
  }
  .pormos-list {
    display: flex;
  }
  .pormos-carousel {
    display: none;
  }

  /* PROMO BRILLA */
  .promos .promo-brilla {
    background-color: transparent;
  }
  /* PROMO BONITA */
  .promos .promo-bonita {
    background-color: transparent;
  }
  /* PROMO BB */
  .promos .promo-bb {
    background-color: transparent;
  }

  .promo-img {
    width: 20rem;
  }
  .promo-list {
    display: flex;
    flex-direction: row;
  }
  .promo-servicio {
    width: 75%;
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: static;
  }

  .promo-servicio img {
    width: 20rem;
    box-shadow: 3px 3px 6px rgb(0 0 0 / 20%);
  }

  /* tratamientos */

  .tratamientos-activo {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr * 6;
    align-items: center;
    justify-content: space-around;
    /* justify-items: center; */
    border-radius: 0px;
    margin: 1rem 0 1rem 0;
  }

  .tratamiento-title {
    width: 100%;
    padding: 1rem;
    display: block;
    grid-column: 1 / 3;
  }

  .tratamiento-title .rt-content i {
    display: none;
  }

  .tratamiento-title-activo .rt-content i {
    display: none;
  }

  .tratamiento-title .rt-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px;
    font-family: "Firs neue Regular";
    font-size: 2.5em;
    color: #7b6969;
  }
  .tratamiento-title-activo .rt-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px;
    font-family: "Firs neue Regular";
    font-size: 1.5em;
    color: #7b6969;
  }

  .tratamiento-title .fa-minus {
    display: none;
  }

  .tratamiento-title .rt-content span {
    font-family: "Firs neue DemiBold";
  }
  .tratamiento-title-activo .rt-content span {
    font-family: "Firs neue DemiBold";
  }

  .tratamientos.activo {
    border-radius: 20px;
    transition: all 0.5s ease;
  }

  /* REPARACION */

  /* .menu-desplegable > div:nth-child(1) > div:nth-child(10){
  grid-column: 2 / 3;
} */

  .menu-desplegable > div:nth-child(4) > div:nth-child(4) {
    grid-column: 1 / 3;
  }

  .menu-desplegable > div:nth-child(4) > div:nth-child(4) > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .menu-desplegable
    > div:nth-child(4)
    > div:nth-child(4)
    > div
    > div.rep-title {
    grid-column: 1 / 3;
  }

  .reparacion {
    width: 100%;
    height: auto;
  }

  .cuerpo-rep {
    width: 100%;
    padding: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    /* text-align: center; */
  }

  .cuerpo-rep > p {
    font-size: 1.5em;
  }

  .cuerpo-rep .rep-title {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    margin: 15px 0;
  }

  .cuerpo-rep .rep-title p {
    font-family: "Firs neue";
    font-size: 2em;
    color: #7b6969;
  }

  .rep-title > img {
    height: 25px;
  }

  .organico {
    margin: 1em;
  }

  .organico-title {
    flex-direction: row;
    align-items: center;
    gap: 2em;
  }

  .organico-texto {
    font-size: 1.5em;
  }
  .menu-desplegable > div:nth-child(5) > div.reparacion > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .menu-desplegable
    > div:nth-child(5)
    > div.reparacion
    > div
    > div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-desplegable
    > div:nth-child(5)
    > div.reparacion
    > div
    > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .servicio-content {
    width: 60%;
  }
  .s-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    padding: 1rem;
  }
  .menu-desplegable > div:nth-child(5) > .reparacion > div > .promos-title {
    grid-column: 1 / 3;
  }
  .menu-desplegable > div:nth-child(5) > div.reparacion {
    grid-column: 1 / 3;
  }
  .menu-desplegable > div:nth-child(6) > div:nth-child(2) {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
  .menu-desplegable > div:nth-child(6) > div:nth-child(2) .cuerpo-rep {
    align-items: center;
  }

  .bottom-bar {
    border-radius: 0 0 0 0;
  }

  .bottom-bar-img {
    border-radius: 0;
  }

  .bottom-bar-img .img {
    width: 150px;
  }

  .bottom-bar-title {
    display: flex;
    align-items: center;
  }

  .blue {
    border-radius: 0;
  }
  .green a:hover {
    background: #db7583;
    color: white !important;
  }

  .significados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    justify-content: space-around;
    gap: 1rem;
  }
  .significado {
    width: 40%;
  }

  .bottom-bar-img {
    height: 40vh;
  }

  .diagnostico {
    height: 40vh;
  }
}
