/* FONTS */
@font-face {
  font-family: "Firs neue";
  src: url("../fonts/TTFirsNeue-Bold.otf");
}
@font-face {
  font-family: "Firs neue Regular";
  src: url("../fonts/TTFirsNeue-Regular.otf");
}
@font-face {
  font-family: "Firs neue DemiBold";
  src: url("../fonts/TTFirsNeue-DemiBold.otf");
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-SemiBold.otf");
}
@font-face {
  font-family: "Mont Heavy";
  src: url("../fonts/Mont-Heavy.otf");
}
@font-face {
  font-family: "Mont Regular";
  src: url("../fonts/Mont-Regular.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("../fonts/EBGaramond-MediumItalic.ttf");
}

/* ----------------------------------------------- */

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-size: 16px;
}

.contenedor{
  width: 100%;
}

header{
  background-color: #FAF4EF;
} 

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo img{
  height: 20vh;
  margin: 5vw;
}

.full-title{
  position: relative;
  background-color: #FAF4EF;
}

.full-title img{
  position: absolute;
  right: 150px;
  top: 17.5vh;
}

header .title{
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 1vh;
  overflow: hidden;
}
header .sub-title{
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 4.7vh;
}

header .title p{
  font-size: 200px;
  text-transform: uppercase;
  font-family: "Firs neue";
  letter-spacing: 10px;
  color: #EEDAC4;
  line-height: 90%;
}

header .sub-title p{
  font-size: 90px;
  letter-spacing: 10px;
  line-height: 90%;
}

header .sub-title p:nth-child(1){
  text-transform: uppercase;
  font-family: 'Mont';
}
header .sub-title p:nth-child(2){
  font-family: 'Garamond';
}

.promos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 100px;
    position: relative;
}

.pormos-contenedor{
    width: 100%;
}

.promos .promos-title{
  font-size: 60px;
}
.promos .promos-title p{
  margin-top: 150px;
  font-family: "Firs neue Regular"
}

.promos .promos-title p span{
  background-color: #F9CBC9;
  color: #884550;
  padding: 5px;
  font-family: "Firs neue DemiBold";
}

.promos .promos-title img{
  margin: 5px;
  width: 105%;
}

.title-barra{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* PROMO BRILLA */
.promos .promo-brilla{
  background-color: #E9D3D3;
  width: 75%;
  height: 30vh;
  padding: 30px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}

.promo-img{
  height: 30vh;
}

.promos .promo-brilla .promo-title{
  font-family: "Firs neue";
  font-size: 60px;
  color: #884550;
  position: absolute;
  top: 2.9vh;
}

.promos .promo-brilla .cuerpo-promo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

.promos .promo-brilla .cuerpo-promo p:nth-child(1){
  font-family: "Mont Heavy";
  font-size: 35px;
  color: #884550;
  margin-bottom: 20px;
}

.promos .promo-brilla .cuerpo-promo p:nth-child(2){
  font-family: "Mont Regular";
  font-size: 30px;
  color: #7B6969;
  margin-top: 40px;
}

/* PROMO BONITA */
.promos .promo-bonita{
  background-color: #F9CBC9;
  width: 75%;
  height: 30vh;
  padding: 30px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.promos .promo-bonita .promo-title{
  font-family: "Firs neue";
  font-size: 60px;
  color: #884550;
  position: absolute;
  top: 3.5vh;
}

.promos .promo-bonita .cuerpo-promo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

.promos .promo-bonita .cuerpo-promo p:nth-child(1){
  font-family: "Mont Heavy";
  font-size: 35px;
  color: #884550;
  margin-bottom: 20px;
}

.promos .promo-bonita .cuerpo-promo p:nth-child(2){
  font-family: "Mont Regular";
  font-size: 30px;
  color: #EE7686;
  margin-top: 40px;
}

/* PROMO BB */
.promos .promo-bb{
  background-color: #E9D3D3;
  width: 75%;
  height: 30vh;
  padding: 30px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.promos .promo-bb .promo-title{
  font-family: "Firs neue";
  font-size: 60px;
  color: #884550;
  position: absolute;
  top: 4vh;
}

.promos .promo-bb .cuerpo-promo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

.promos .promo-bb .cuerpo-promo p:nth-child(1){
  font-family: "Mont Heavy";
  font-size: 35px;
  color: #884550;
  margin-bottom: 20px;
}

.promos .promo-bb .cuerpo-promo p:nth-child(2){
  font-family: "Mont Regular";
  font-size: 30px;
  color: #7B6969;
  margin-top: 40px;
}

/* BARRA ABAJO DEL TEXTO */
.barra-title{
  width: 75%;
  height: 1.5vh;
  background-color: #FAF4EF;
}

.barra-title-bb{
  width: 55%;
  height: 1.5vh;
  background-color: #FAF4EF;
}

/* tratamientos */

.tratamientos{
  background-color: #FAF4EF;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.tratamiento-title{
  width: 90%;
  padding: 30px;
  margin: 15px;
  display: block;
}

.tratamiento-title i{
  font-size: 40px;
  color: #7B6969;
}

.tratamiento-title .rt-content{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.tratamiento-title .fa-minus{
  display: none;
}

.tratamiento-title .rt-content span{
  font-family: "Firs neue DemiBold";
  font-size: 50px;
  color: #7B6969;
  padding: 0px 10px;
  background-color: #EEDAC4;
}

.tratamiento-title .rt-content{
  font-family: "Firs neue Regular";
  font-size: 50px;
  color: #7B6969;
}

/* REPARACION */

.reparacion{
  height: 0;
  overflow: hidden;
}

/* Si esta activo muestra info */
.tratamientos.activo .reparacion{
  height: auto;
}

.cuerpo-rep{
  width: 90%;
  padding: 30px;
  margin: 15px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* text-align: center; */
}

.cuerpo-rep .rep-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1vh;
  margin: 15px 0;
}

.cuerpo-rep .rep-title p{
  font-family: "Firs neue";
  font-size: 40px;
  color: #7B6969;
}

.rep-title > img{
  height: 60px;
}

/* .reparacion .cuerpo-rep p{ */
  body > div > div.menu-desplegable > div.tratamientos.activo > div > div > p{
  font-family: "Mont Regular";
  font-size: 25px;
  color: #7B6969;
  margin: 20px 0;
}

/* #rep{
  display: none;
} */

.rosado{
  background-color: #F9CBC9 !important;
}

.loreal{
  font-family: 'Firs neue Regular';
  color: #EE7686;
}

.loreal-title{
  color: #EE7686 !important;
}

.tratamientos.activo .loreal{
  height: auto;
}

.bg-loreal{
  background-color: #fff !important;
}

.bg-mimo{
  background-color: #E9D3D3 !important;
}

.mimo{
  background-color: #EDE3D9;
}

.lacio{
  font-family: 'Garamond' !important;
  background-color: #fff !important;
}

.lacio-org-title{
  font-family: 'Garamond' !important;
  font-size: 70px !important;
}

.organico-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1vh;
  margin-top: 10px;
}

.organico-title p{
  font-family: "Firs neue";
  font-size: 35px;
  color: #7B6969;
  gap: 1vh;
}

.organico-title img{
  height: 60px;
}

body > div > div.menu-desplegable > div.tratamientos.bg-loreal.activo > div:nth-child(4) > div > div.organico > p {
  font-family: "Mont Regular";
  font-size: 20px;
  color: #7B6969;
  margin: 30px 0;
}

.hr{
  height: 2px;
  width: 90%;
  background-color:#7B6969;
  margin: 30px;
}

.t-rosado{
  color: #EE7686 !important;
}

.garamond{
  font-family: "Garamond";
  font-size: 3rem;
}

.pormos-list{
  width: 100%;
}

.promos-title-servicio{
  width: 100%;
  margin: 20px;
}

.promos-title-servicio .p-servicio{
  font-size: 2.5rem;
  font-family: "Mont Regular";
  color: #7B6969;
  padding: 20px;
  text-align: center;
  background-color: #F9CBC9;
}

.diagonal-box {
  position: relative;
}

.diagonal-box:before {
 position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   transform: skewY(-11deg);
}

.content {
 max-width: 50em;
   margin: 0 auto;
   position: relative;
}
