/* FONTS */
@font-face {
  font-family: "Firs neue";
  src: url("../fonts/TTFirsNeue-Bold.otf");
}
@font-face {
  font-family: "Firs neue Regular";
  src: url("../fonts/TTFirsNeue-Regular.otf");
}
@font-face {
  font-family: "Firs neue DemiBold";
  src: url("../fonts/TTFirsNeue-DemiBold.otf");
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-SemiBold.otf");
}
@font-face {
  font-family: "Mont Heavy";
  src: url("../fonts/Mont-Heavy.otf");
}
@font-face {
  font-family: "Mont Regular";
  src: url("../fonts/Mont-Regular.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("../fonts/EBGaramond-MediumItalic.ttf");
}

/* ----------------------------------------------- */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: "Mont Regular";
}

.contenedor {
  width: 100%;
}

header {
  background-color: #faf4ef;
}

.bg-img {
  border-radius: 0 0 100px 100px;
  position: relative;
  width: 100vw;
  height: 43vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 8px 15px rgba(53, 53, 53, 0.507);
}

.bg-img img {
  width: 140%;
  position: absolute;
}

.logo {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  height: 12vh;
  margin: 2vh;
}

.promos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 100px;
  position: relative;
}

.pormos-contenedor {
  width: 100%;
}

.promos .promos-title {
  width: 100%;
  font-size: 2em;
  text-align: left;
  padding-left: 2em;
}
.promos .promos-title p {
  margin-top: 30px;
  font-family: "Firs neue Regular";
}

.promos .promos-title p span {
  color: #ee7686;
  padding: 5px;
  font-family: "Firs neue DemiBold";
}

.promos .promos-title img {
  margin: 5px;
  width: 105%;
}

.title-barra {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* PROMO BRILLA */
.promos .promo-brilla {
  background-color: #e9d3d3;
  width: 75%;
  height: 30vh;
  padding: 30px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}

.promo-img {
  height: 30vh;
}

/* PROMO BONITA */
.promos .promo-bonita {
  background-color: #f9cbc9;
  width: 75%;
  height: 30vh;
  padding: 30px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

/* PROMO BB */
.promos .promo-bb {
  background-color: #e9d3d3;
  width: 75%;
  height: 30vh;
  padding: 30px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

/* tratamientos */

.tratamientos {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  border-radius: 100px;
  margin: 15px;
  box-shadow: 1px 8px 15px rgba(53, 53, 53, 0.507);
  transition: all 1s ease;
}

.tratamiento-title {
  width: 100%;
  padding: 30px;
  display: block;
}

.tratamiento-title i {
  font-size: 1em;
  color: #7b6969;
}

.tratamiento-title .rt-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 10px;
}

.tratamiento-title .fa-minus {
  display: none;
}

.tratamiento-title .rt-content span {
  font-family: "Firs neue DemiBold";
  font-size: 1em;
  padding: 0px 10px;
}

.tratamiento-title .rt-content {
  font-family: "Firs neue Regular";
  font-size: 4em;
  color: #7b6969;
}

.tratamientos.activo {
  border-radius: 20px;
  transition: all 1s ease;
}
/* REPARACION */

.reparacion {
  height: 0;
  overflow: hidden;
  transition: height 1s ease;
}

/* Si esta activo muestra info */
.tratamientos.activo .reparacion {
  height: auto;
  width: 100%;
}

.cuerpo-rep {
  width: 90%;
  padding: 30px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  /* text-align: center; */
}

.cuerpo-rep .rep-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5vh;
  margin: 15px 0;
}

.cuerpo-rep .rep-title p {
  font-family: "Firs neue";
  font-size: 4em;
  color: #7b6969;
}

.rep-title > img {
  height: 60px;
}

.menu-desplegable {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}

body > div > div.menu-desplegable > div.tratamientos.activo > div > div > p {
  font-family: "Mont Regular";
  font-size: 2em;
  color: #7b6969;
  margin: 20px 0;
}

.rosado {
  color: #f9cbc9 !important;
}

.loreal {
  font-family: "Firs neue Regular";
}

.loreal b {
  font-family: "Firs neue DemiBold";
}

.loreal-title {
  color: #ee7686 !important;
}

.tratamientos.activo .loreal {
  height: auto;
}

.bg-grey {
  background-color: #f5f6f7 !important;
}

.bg-beige {
  background-color: #f8f3ef !important;
}

.bg-rosado {
  background-color: #f9cbc9;
}

.bg-rosado-fuerte {
  background-color: #f191a1;
}

.bg-crema {
  background-color: #faf4ef;
}

.mimo {
  color: #db7583 !important;
}

.fndb {
  font-family: "Firs neue DemiBold";
}

.title-color {
  color: #77454e;
}

.title-color b {
  color: #9c7277;
}

.lacio {
  font-size: 1.2em !important;
  font-family: "Garamond" !important;
}

.lacio-org-title {
  font-family: "Garamond" !important;
  font-size: 1.5em !important;
}

.organico-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.2vh;
  margin-top: 10px;
}

.organico-title p {
  font-family: "Firs neue";
  font-size: 3.5em;
  color: #7b6969;
  gap: 1vh;
}

.organico-texto {
  font-size: 2em;
  color: #7b6969;
}

.organico-title img {
  height: 60px;
  margin: 2em 0 2em 0;
}

body
  > div
  > div.menu-desplegable
  > div.tratamientos.bg-loreal.activo
  > div:nth-child(4)
  > div
  > div.organico
  > p {
  font-family: "Mont Regular";
  font-size: 2em;
  color: #7b6969;
  margin: 30px 0;
}

.hr {
  height: 2px;
  width: 90%;
  background-color: #7b6969;
  margin: 2em;
}

.t-rosado {
  color: #ee7686 !important;
}

.garamond {
  font-family: "Garamond";
  font-size: 3rem;
}

.pormos-list {
  width: 100%;
  margin-top: 50px;
}

.promos-title-servicio {
  width: 90%;
  margin: 20px;
  text-align: left;
}

.promos-title .p-servicio {
  font-size: 2em;
  font-family: "Mont Regular";
  color: #7b6969;
  /* padding: 20px; */
}

.promos-manos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  position: relative;
}

/* .servicio{
  font-size: 2.7em;
  text-align: left;
} */

.s-title {
  padding-left: 2em;
  margin-top: 4em;
}

.s-title p {
  font-size: 2.5em;
  padding-left: 1em;
}

.servicio-content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  justify-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 3em;
}

.servicio-content div {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 50px;
  margin: 0.5em;
  /* width: 14em; */
  width: fit-content;
  text-align: center;
}

.servicio-color-1 {
  background-color: #f3d8d6;
  color: #e38088;
}
.servicio-color-2 {
  background-color: #e5d4be;
  color: #a08d7b;
}
